<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ====== Favicon ====== -->
    <link
            rel="shortcut icon"
            href="images/favicon-32x32.png"
            type="image/png"
    />
    <!-- ====== Boxicons ====== -->
    <link
            href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
            rel="stylesheet"
    />
    <!-- ====== Swiper CSS ====== -->
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/scss/shop.css"/>
    <script href="/js/shop.js"></script>
    <title>shop</title>
</head>

<div id="search">
    <div id="search-bar-wrapper">
        <input id="search-bar" placeholder="Search" type="search"/>
        <i id="filter-button" class="bx bx-filter icon-button"></i>
        <i id="search-button" class="bx bx-search icon-button"></i>
    </div>
</div>
</html>