<!DOCTYPE html>

<html lang="en">
<%- include('header.ejs') %>
<script src="/js/shop.js"></script>
<link rel="stylesheet" href="/scss/shop.css"/>
<body>
    <div id="search">
        <input/>
    </div>
</body>
<%- include('footer.ejs') %>
</html>